{{ define "main" }}
<!-- Header -->
{{ partial "header" . }}
<div class="container">
  <section id="projects mx-4 px-3">

    <h2 class="my-5 text-center">{{ .Site.Data.projects.name }}</h2>
    <div class="panel">
      <div class="panel-body">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link" id="all" href="#">All</a>
          </li>
          <li class="nav-item">
            <a class="nav-link tag" id="research" href="#">Research</a>
          </li>
          <li class="nav-item tag">
            <a class="nav-link" id="data-science" href="#">Data Science</a>
          </li>
          <li class="nav-item tag">
            <a class="nav-link" id="policy" href="#">Policy</a>
          </li>
          <li class="nav-item tag">
            <a class="nav-link" id="web-development" href="#">Web Development</a>
          </li>
        </ul>
        <div class="row">
          {{ range $el := .Site.Data.projects.source }}

          <div class="col-lg-4 col-md-6 col-sm-12 toggle-content is-visible{{range $tag := $el.tags}} {{$tag}}{{end}}">
            <div class="card my-4">
              <div class="card-header">
                {{ $el.name }}
              </div>
              <div class="card-body">
                <h5 class="card-title">{{ $el.description }}</h5>
                <p>Duration: {{$el.start_date}} - {{$el.end_date}}</p>
                <p><a href="{{ .url }}" class="btn-primary-overlay">See project</a></p>
                {{ range $tag := $el.tags }}
                <button class="btn btn-primary btn-sm d-flex flex-row-reverse bd-highlight my-1 " style="background-color: #E3963E;   border: none;">{{$tag}}</button>
                {{end}}
              </div>
            </div>
          </div>
          {{ end }}
        </div>

      </div>
    </div>
  </section>
</div>
{{ end }}


{{define "js"}}
<script>
  // General case, show all
  document.getElementById("all").addEventListener("click", function() {
    elements = document.getElementsByClassName("toggle-content");
    showAll(elements);
  });


  // Show only selected
  filterTags('research');
  filterTags('policy');
  filterTags('web-development');
  filterTags('data-science');

</script>
{{ end }}
